.banner {
  background: url("https://1.bp.blogspot.com/-dtG0PFzsBb0/XeiQFlex6qI/AAAAAAAAhSw/bhxFxmULzfI0amfBUcjm5PcCcCb1i-G1gCLcBGAsYHQ/s2560/beach_nature_13-wallpaper-2560x1440.jpg") center center;
  height: 80vh;
  position: relative;
}

.banner__info {
    background-color: hsla(0, 0%, 0%, 0.685);
    color: white;
    padding-top: 20vh;
    padding-left: 5rem;
    padding-right: 50px;
    padding-bottom: 40px;
    width: 50rem;
    height: 31rem;
}

.banner__search {
    display: flex;
    flex-direction: column;
}

.banner__searchButton {
  background-color: white !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
  color: hsl(14, 97%, 57%)!important;
}

.banner__info > button {
    background-color: white;
    color: black;
    text-transform: inherit;
    margin-top: 20px;
    font-weight: 600;
}

.banner__info > button:hover {
    background-color: white;
    color: hsl(14, 97%, 57%);
  }
  

.banner__info > h5 {
    margin-top: 10px;
}