.booked_info{
    padding: 28px;
}
.booked_info > p{
    margin-bottom: 10px;
    font-size: 14px;
}
.booked_info > h1{
    margin-bottom: 30px;
}
.booked_info > button{
    border-radius: 30px;
    text-transform: inherit;
    margin: 5px;
}