.header {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  background-color: #f1f1f1;
  padding-bottom: 20px;
}

.header__logo > a{
  text-decoration: none;
  color: hsl(14, 97%, 57%);
  object-fit: contain;
  height: 100px;
  margin-left: 5rem;
  font-size: 27px;
  margin-top: 5px;
  line-height: 50px;
}

.header__right {
  float: right;
}

.header__right > a{
  color: hsl(14, 97%, 57%);
  float: left;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 20px;
  border-radius: 4px;
  margin-top: 5px;
  margin-right: 20px;
  transition: background .3s;
}

.header__right > a:hover {
  background-color: rgb(1, 16, 27); 
}